{% extends 'kurniagranite/baseoffice.html' %} {% load static %} {% block konten %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message|safe }}</li>
    {% endfor %}
</ul>
{% endif %}


<form id="demo-form1" data-parsley-validate class="form-horizontal form-label-left" method="POST" action="{% url 'profilesimpan' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ user.username }}">
    <!-- Nama nama Start -->
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nama">Nama Lengkap
            <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {% if pengguna.nama_user == "Belum Diisi" %}
            <input type="text" name="nama" id="nama" required="required" class="form-control col-md-7 col-xs-12">
            <input type="hidden" name="tipe" id="nama" required="required" class="form-control col-md-7 col-xs-12" value="tambah">
            {% else %}
            <input type="text" name="nama" id="nama" required="required" class="form-control col-md-7 col-xs-12" value="{{ pengguna.nama_user }}">
            <input type="hidden" name="tipe" id="nama" required="required" class="form-control col-md-7 col-xs-12" value="ubah">
            <input type="hidden" name="id" id="nama" required="required" class="form-control col-md-7 col-xs-12" value="{{ pengguna.id }}">
            {% endif %}
        </div>
    </div>
    <!-- Nama Stop -->
    <!-- Nama nama Start -->
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomerhp">Nomer Hp
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {% if pengguna.no_hp == "Belum Diisi" %}
            <input type="text" name="nomerhp" id="nomerhp" required="required" class="form-control col-md-7 col-xs-12">
            {% else %}
            <input type="text" name="nomerhp" id="nomerhp" required="required" class="form-control col-md-7 col-xs-12" value="{{ pengguna.no_hp }}"> {% endif %}
        </div>
    </div>
    <!-- Nama Stop -->
    
    <!-- Gambar 1 Start -->        
        <div class="form-group">
            <label for="uploadPreview1" class="control-label col-md-3 col-sm-3 col-xs-12">Poto Profile</label>
            <div class="col-md-6 col-sm-6 col-xs-12">                    
                <img id="uploadPreview1"  alt="" width="20%" height="20%"  src="../../../../media/{{ pengguna.poto }}">            
            </div>
        </div>
    
        <div class="form-group">
            <label for="gambar1" class="control-label col-md-3 col-sm-3 col-xs-12"> Gambar  1</label>
                <div class="col-md-6 col-sm-6 col-xs-12">                    
                    <input type="file" class="form-control" id="uploadImage1" name="poto" onchange="PreviewImage(1)">
                </div>
        </div>
                <!-- Gambar 1 Stop -->        
    

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 pull-right ">
            <button type="submit" class="simpan btn-success">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#nama').keyup(function () {
            if (this.value.match(/[^a-zA-Z -]/g)) {
                this.value = this.value.replace(/[^a-zA-Z ]/g, '');
            }
        });
    });
    $(function () {
        $('#nomerhp').keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9 ]/g, '');
            }
        });
    });
    function PreviewImage(no) {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadImage" + no).files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview" + no).src = oFREvent.target.result;
        };
        log.console(oFReader);
    }

</script> {% endblock konten %}