{% extends 'frontend/base.html' %}
{% load static %}
{% block style %}
.artwork img{ width:300px; height:300px; } /* Agrostore
Page*/ #agrostore .filter-list { margin-bottom: 26px; } #agrostore .filter-list .agrostore-set { font-weight: 400; padding:
20px 20px; } @media screen and (min-width: 601px) and (max-width: 992px) { #agrostore .filter-list .agrostore-set .primary-btn
{ width: 300px; } } #agrostore .filter-list .agrostore-set .title { color: #0b9b55; font-size: 18px; } #agrostore .filter-list
.agrostore-set .select-wrapper input.select-dropdown { border: 1px solid #e4e5e7; margin: 15px 0; position: relative; cursor:
pointer; background-color: transparent; outline: none; height: 3rem; line-height: 3rem; width: 100%; padding: 0; display:
block; color: #e4e5e7; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } #agrostore
.filter-list .agrostore-set .select-wrapper span.caret { color: #fff; background-color: #0b9b55; position: absolute; right:
-1px; top: 0; bottom: 0; height: 10px; margin: auto 0; padding: 25px 15px; font-size: 20px; line-height: 0; } #agrostore
.filter-list .agrostore-set .category { margin: 10px 0; } #agrostore .filter-list .agrostore-set .category > div { padding:
3px 0; } #agrostore .filter-list .agrostore-set .category a { color: #515151; transition-timing-function: ease-out; transition:
0.2s; } #agrostore .filter-list .agrostore-set .category a:hover { color: #0b9b55; transition-timing-function: ease-in; transition:
0.2s; } #agrostore .filter-list .agrostore-set .rating-checkbox { padding-top: 10px; } #agrostore .filter-list .agrostore-set
.rating-checkbox > div { margin: 10px 0; } #agrostore .filter-list .agrostore-set [type="checkbox"].filled-in:not(:checked)
+ label:after { height: 20px; width: 20px; border-radius: 50%; background-color: #D6EADF; border: 2px solid #D6EADF; top:
0px; z-index: 0; } #agrostore .filter-list .agrostore-set [type="checkbox"].filled-in:checked + label:after { top: 0; width:
20px; height: 20px; border-radius: 50%; border: 2px solid #D6EADF; background-color: #D6EADF; z-index: 0; } #agrostore .filter-list
.agrostore-set [type="checkbox"].filled-in:checked + label:before { top: 1px; left: 3px; width: 14px; height: 14px; border-radius:
50%; background-color: #0b9b55; border: 1px solid transparent; -webkit-transform: none; transform: none; -webkit-transform-origin:
50% 50%; transform-origin: 50% 50%; } #agrostore .product-list > .col { margin-bottom: 26px; }
{% endblock style %}
{% block konten %}
<div class="input-field col s12">
    <select id='sorting' onchange="redirek_sorting()" >
        <option value="" disabled selected>Sorting by</option>
        <option value="default">Default</option>        
        <optgroup label="Alphabetical">
          <option value="atoz">A to Z</option>
          <option value="ztoa">Z to A</option>
        </optgroup>
        <optgroup label="Date">
            <option value="newest">Newest Oldest</option>
            <option value="oldest">Oldest Newest</option>
          </optgroup>
      </select>
  </div>
<br>
<br>
<div class="row">
  {% for p in produk %}
  
  <div class="col  l4 m4 s12">
    <div class="card">
      <div class="card-image artwork">
        {% if gambar1.produk != 'media/noimage.png' %}
        {% if lokasi != "bk" %}
          <img src="../media/{{p.gambar1}}">
        {% else %}
          <img src="../../media/{{p.gambar1}}">
        {% endif %}
        {% else %}
        
        {% endif %}
        <span class="card-title">
          <font color='black'>
            {{ p.namaproduct }}
          </font>
        </span>
      </div>
      <div class="card-content"> 
        <a href="{% url 'frontend:detailproduct' p.slug %}">Detail</a>
      </div>
      <div class="card-action">
        <a class="btn-floating waves-effect waves-light red " href="#">
          <img src="{% static 'frontend/image/fb.svg' %}" alt="">
        </a>
        <a class="btn-floating waves-effect waves-light red " href="#">
          <img src="{% static 'frontend/image/tw.svg' %}" alt="">
        </a>
        <a class="btn-floating waves-effect waves-light red right" href="#">
          <i class="material-icons">add_shopping_cart</i>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
{{ produk.page_range}}
</div>

  <ul class="pagination">
    {% if produk.has_previous %}
    <li class="active teal">
        <a href="?page={{ produk.previous_page_number }}">
            <i class="material-icons">chevron_left</i>
          </a>
    </li>
    {% endif %}
    <li>
        {{ produk.number }}      
    </li>    
    {% if produk.has_next %}
    <li class="active teal">
        <a href="?page={{ produk.next_page_number }}">
            <i class="material-icons">chevron_right</i>
          </a>
    </li>
    {% endif %}
</ul>

<script>
    function redirek_sorting() {
      var sorting			= $("#sorting").val();
    
        if (sorting == "default"){
          window.location.href = "{% url 'frontend:artwork'  %}";		
        }else if((sorting == 'atoz' ) || (sorting == 'ztoa' ) || (sorting == 'oldest' ) || (sorting == 'newest' )){
          window.location.href = "{% url 'frontend:artwork' %}?sorting="+sorting;		        
        }else{
          window.location.href = "{% url 'frontend:artwork' %}";		        
        }
    }
</script>

{% endblock konten %}